.article {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 1vw;
}
.h4,
.p {
    padding-left: 2em;
    color: white;
    line-height: 50px;
    font-family: Franklin Gothic Medium, 'Arial Narrow', 'Arial, sans-serif';
    text-shadow: 5px 5px 5px rgb(0, 30, 128);
}
.h4{
    font-size:6ch
}
.p{
    font-size: 2rem;
}

.search{
    margin:2rem 3rem;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    background-color:rgb(102, 101, 100);
    border-radius: 50%;
    opacity: 0.75;
    transition: linear;
}
.search:hover{
    opacity: 1;
    transform: scale(1.1)
}
.slide {
    margin:2rem;
    display: flex;
    gap: 2rem;
    /*grid-template-columns:auto auto auto;*/
    justify-content:space-evenly;
    align-items: center;
}

.link {
    margin: 20px;
    max-width: 25vw;
    min-height: 5vw;
    outline: none;
    border: none;
    transition: linear 0.5;
    background-color:  #91909473;
    border-radius: 10px;
    text-decoration:none;
}
.active{
    background-color: black;
}

.link:hover {
    opacity: 1;
}
.linkH4 {
    font-size: 2ch;
    color:white;
    text-align:justify;
    padding-left: 1rem;
}

@media screen and (min-width:30em) {
    .nav {
        grid-template-columns: auto auto auto auto;
    }
    .link{
        max-width: 20vw;
    }
}

@media screen and (min-width:40em) {
    .nav {
        grid-template-columns: auto auto auto auto;
    }
    .link{
        max-width: 17vw;
    }
}

@media screen and (min-width:65em) {
    .nav {
        grid-template-columns: auto auto auto auto auto auto;
    }
    .link{
        max-width: 13vw;
    }
}