/*index.css*/
.main{
    text-align: center;
}
.grid{
    display:grid;
    grid-template-columns:auto ;
    margin: 10px 0;
}
.item1,.item2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.h3{
    text-align: center;
    padding: 1vw;
    color: white;
    font-size: 5ch;
}
.inputField{
    margin:20px 1px;
}
.input{
    border-radius:8px ;
    border: none;
    width: 75%;
    height: 8vh;
}
.input::placeholder{
    text-align:center;
    color:black;
    font-size: 3ch;
    font-weight: 800;
}
.input:hover{
    border: 2px dotted black;
}
.input:focus{
    border: 4px dashed black;
}
.submit{
    background-color:rgb(32, 212, 218);
    width: 50%;
    border-radius: 15px;
    color: white;
    height: 6vh;
    font-size: 2ch;
}
.icon{
    font-size: 5px;
}
.error{
    color:red;
    text-align: center;
}
@media screen and (min-width:50em){
    .grid{
        grid-template-columns:auto auto;
        gap:10vw;
    }
    .input{
        width: 140%;
    }
}
@media screen and (min-width:60em){
    .input{
        width:100%
    }
}