/*index.css*/
.main{
    text-align: center;
}
.grid{
    display:grid;
    grid-template-columns:auto ;
    margin: 10px 0;
}
.item1,.item2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.h3{
    text-align: center;
    padding: 1vw;
    color: white;
    font-size: 5ch;
}
.inputField{
    margin:20px 1px;
}
.input{
    outline: none;
    border-radius: 10px;
    width:100%;
    padding: 1vw;
    text-align: left;
    background-color:#040c19 ;
    border: none;
    color: white;
    font-size: 2ch;
    border-bottom:2px solid blue;
}
.input::placeholder{
    text-align:left;
    color: white;
    font-size: 2ch;
    font-weight: 800;
}
.submit{
    background-color:white;
    width: 100%;
    border-radius: 15px;
    color: black;
    height: 6vh;
    font-size: 3ch;
}
.icon{
    font-size: 40px;
}
.error{
    color:red;
    text-align: center;
}
@media screen and (min-width:50em){
    .grid{
        grid-template-columns:auto auto;
        gap:10vw;
    }
}