.main{
    text-align: center;
}
.title{
    font-size: 30px;
    color:white;
    padding: 2vw;
}
.input{
    outline: none;
    border: none;
    border-radius: 20vw;
    width:40%;
    padding: 1vw;
    text-align: center;
}
.grid{
    margin: 4vw;
    display: grid;
    grid-template-columns:auto auto auto;
    justify-content: center;
}
.item{
    margin: 1vw;
    transition: ease 0.5s;
}
.item:hover{
    transform: scale(1.1);
}
.a{
    text-decoration: none;
}
.img{
    border: 1px solid grey;
    width: 100%;
    padding: 2vw;
}
.h4{
    font-size: 2ch;
    color:white
}
@media screen and (min-width:40em){
    .grid{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width:60em){
    .grid{
        grid-template-columns: auto auto auto auto;
    }
}