/*App.jsx*/
.sidebar{
    position: fixed;
    height:100%;
    width: 200px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    display: none;
}
.dark{
    background-color: #141414;
    color: white;
}
/*sidebar.jsx*/
.nav-li:hover {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px grey;
    transform: rotate(10deg);
}

.active {
    color: #141414;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 5px 10px 0px grey;
    transform: scale(1.1);
}

/*footer.jsx*/
.grid-container {
    display: grid;
    gap:2vw;
    grid-template-columns: auto;
    padding: 2vw;
}

@media screen and (min-width:40em) {
    /*footer.jsx*/
    .grid-container {
        grid-template-columns:auto auto auto;
    }
}
@media screen and (min-width:50em){
    .sidebar{
        display: block;
    }
    .main-article{
        margin-left: 200px;
    }
    .footer{
        margin-left: 200px;
    }
}